*,
*::before,
*::after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
/*CONNECT FONTS AND SCSS FILES*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "responsivestyles";
/*COMMON STYLES*/
html {
   scroll-behavior: smooth;
}
body {
   font-family: "Roboto", sans-serif;
}
a {
   text-decoration: none;
}

li {
   list-style: none;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
}
ol,
ul {
   padding: 0;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.main-content {
   flex-grow: 1;
}
/*TEMPLATES CLASSES*/
.blue-btn {
   background: #0033ff;
   border: 1px solid rgba(0, 0, 0, 0);
   border-radius: 8px;
   color: #fff;
   &:hover {
      cursor: pointer;
      background: none;
      border: 1px solid #0033ff;
      transition: all 0.4s ease-out;
   }
}

.h2section {
   font-size: 28px;
   font-weight: 400;
   line-height: 1.29;
   margin-top: 0;
   margin-bottom: 12px;
}

.h3section {
   font-size: 12px;
   font-weight: 400;
   line-height: 1.17;
   letter-spacing: 0.12px;
   text-transform: uppercase;
   color: #a6a8ad;
   margin-top: 0;
   margin-bottom: 5px;
}

.h4footer {
   font-size: 20px;
   font-weight: 400;
   line-height: 1.2;
   margin-top: 0;
   margin-bottom: 12px;
}

.pcreator {
   font-size: 20px;
   line-height: 1.25;
   letter-spacing: 0.3px;
   color: #000;
   margin-top: 0;
   margin-bottom: 16px;
   text-align: left;
}

.linkcreator {
   font-size: 14px;
   line-height: 1.43;
   color: #767676;
   float: left;
   &:hover {
      text-decoration: underline;
   }
}

.grey-links {
   margin: 0;

   a {
      font-size: 14px;
      line-height: 1.5;
      color: #a6a8ad;
      &:hover {
         color: #00ffff;
         transition: all 0.4s ease-out;
      }
   }
   li {
      margin-bottom: 11px;
      &:last-child {
         margin-bottom: 0;
      }
   }
}

@mixin flexboxContainer {
   .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

@mixin blackBackground {
   background: #121214;
   color: #fff;
}

@mixin textAlign35 {
   width: 35%;
   text-align: right;
}
/*-------------------------------*/

/*HEADER*/
.page-header {
   padding-top: 19px;
   padding-bottom: 21px;
   background: #121214;
   @include flexboxContainer;

   .nav-block {
      display: flex;
      align-items: center;
      margin-left: 20px;
   }

   .nav-header {
      padding-left: 29px;
   }

   .nav-menu {
      display: flex;
      margin-top: 0;
      margin-bottom: 0;

      a {
         color: #a6a8ad;
         &:hover {
            color: #00fa9a;
            transition: all 0.3s ease-in;
         }
      }
      li {
         margin-right: 20px;
         &:last-child {
            margin-right: 0;
         }
      }
   }

   .log-menu {
      margin-right: 23px;
      a {
         color: #a6a8ad;
         &:hover {
            color: #e6e6fa;
            transition: all 0.3s ease-in;
         }
      }
      #sign-up-btn {
         margin-left: 20px;
         padding: 8px 21px;
         background: #ffffff;
         border: 1px solid #ffffff;
         border-radius: 32px;
         line-height: 1.15;
         &:hover {
            cursor: pointer;
            background: none;
            color: #e6e6fa;
            transition: all 0.5s ease;
         }
      }
   }
}

/*PLAYGROUND SECTION*/
.playground {
   background: url("../img/bgrounds/main_bg.jpg") no-repeat;
   background-size: cover;
   padding: 140px 0 150px 0;
   color: #fff;

   .playground__block {
      margin-left: 48px;
      width: 42%;

      h1 {
         margin: 0 0 26px 0;
         font-size: 72px;
         font-weight: 400;
         line-height: 1;
         letter-spacing: 1.08px;
      }
      p {
         margin-top: 0;
         margin-bottom: 44px;
         font-size: 20px;
         line-height: 1.2;
      }
      .try-btn {
         padding: 16px 32px 16px 32px;
      }
   }
}

/*SOUNDS SECTION*/
.sounds {
   @include blackBackground;
   @include flexboxContainer;
   padding-top: 96px;

   .sounds__text {
      margin-left: 48px;
      width: 35%;
      p {
         margin-top: 0;
         margin-bottom: 18px;
      }
      .explore-btn {
         padding: 5px 20px 7px 20px;
      }
   }
   .sounds__img {
      margin-right: 48px;
   }
}

/*EXPERIENCE SECTION*/
.experience {
   @include blackBackground;
   @include flexboxContainer;
   padding-top: 96px;

   .experience__img {
      margin-left: 48px;
   }

   .experience__text {
      margin-right: 48px;
      @include textAlign35;

      p {
         margin: 0;
      }
   }
}

/*GEAR SECTION*/
.gear {
   @include blackBackground;
   @include flexboxContainer;
   padding-top: 96px;

   .gear__text {
      margin-left: 48px;
      width: 35%;

      .gear-btn {
         padding: 5px 20px 7px 20px;
      }
      p {
         margin-top: 0;
         margin-bottom: 18px;
      }
   }

   .gear__img {
      margin-right: 48px;
   }
}

/*TECHNOLOGY SECTION*/
.technology {
   @include blackBackground;
   @include flexboxContainer;
   padding-top: 96px;

   .technology__text {
      margin-right: 48px;
      @include textAlign35;

      .discover-btn {
         padding: 7px 20px 9px 20px;
      }
      p {
         margin-top: 0;
         margin-bottom: 18px;
      }
   }
   .technology__img {
      margin-left: 48px;
   }
}

/*CREATORS SECTION*/
.creators {
   @include blackBackground;
   padding: 120px 0;

   .h2section {
      margin-bottom: 24px;
      margin-left: 48px;
   }
   .creators__block {
      margin: 0 48px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1rem;
   }

   .creator__box {
      background: #f8f8f8;
      border-radius: 8px;
      padding: 32px;
      text-align: center;
      flex: 1 1 calc((100% / 3) - 2rem);
      img {
         margin-bottom: 30px;
      }
   }
}

/*TODAY SECTION*/
.today {
   background: url("../img/bgrounds/try_bg.jpg") no-repeat;
   background-size: cover;
   color: #fff;
   padding-top: 283px;
   padding-bottom: 288px;

   .container {
      text-align: center;
   }

   .h2section {
      font-size: 54px;
      line-height: 1.11;
      margin-bottom: 57px;
   }

   .start-btn {
      padding: 8px 20px;
      border: 1px solid #0033ff;
   }
}

/*FOOTER*/
.page-footer {
   @include blackBackground;
   padding-top: 48px;
   padding-bottom: 60px;

   .footer__block {
      margin: 0 80px 83px 48px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   .skillstudio__block {
      display: flex;
      flex-direction: column;
      .skills__box {
         margin-bottom: 24px;
      }

      .skills__box-nav {
         margin-top: 0;
      }
   }

   .splice__rights {
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;
      line-height: 1.5;
      color: #a6a8ad;
      margin-left: 48px;

      p {
         margin: 0;
      }
      .splice__rights-nav {
         display: flex;
         align-items: center;
         li {
            margin-bottom: 0;
            margin-left: 24px;
         }
      }

      .social-links {
         margin-left: 30px;
         a {
            color: #ffffff;
            &:hover {
               color: #0000ff;
               transition: all 0.4s ease-in-out;
            }
         }
      }
   }
}
