$maxWidth: 1200;
@mixin adaptiv-font($pcSize, $mobSize) {
   $addSize: $pcSize - $mobSize;
   $maxWidth: $maxWidth - 320;
   font-size: calc(
      #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
   );
}

@mixin adaptiv-img {
   max-width: 70%;
   display: block;
   margin: 0 auto;
}

@mixin adaptiv-textbox-right {
   margin-right: 0 !important;
   text-align: center !important;
   width: 50% !important;
}

@mixin adaptiv-textbox-left {
   margin-left: 0 !important;
   text-align: center !important;
   width: 50% !important;
}

@media (max-width: 1240px) {
   // .container {
   //    max-width: 1020px !important;
   // }
   /*FOOTER*/
   .studio__box {
      margin-bottom: 24px;
   }

   .community__box {
      margin-bottom: 24px;
   }

   .sounds__box {
      margin-bottom: 24px;
   }

   .beatmaker__box {
      margin-bottom: 24px;
   }
}

@media (max-width: 1070px) {
   .container {
      max-width: 900px !important;
   }

   /*SOUNDS SECT*/
   .sounds .container {
      flex-direction: column;
   }

   .sounds__text {
      margin-left: 0 !important;
      text-align: center !important;
      width: 50% !important;
      margin-bottom: 10px;
   }

   .sounds__img {
      margin-right: 0 !important;
   }

   /*EXPERIENCE SECT*/
   .experience .container {
      flex-direction: column;
   }

   .experience__text {
      order: 1;
      @include adaptiv-textbox-right;
      margin-bottom: 10px;
   }

   .experience__img {
      order: 2;
      margin-left: 0 !important;
   }

   /*GEAR SECT*/
   .gear .container {
      flex-direction: column;
   }

   .gear__text {
      @include adaptiv-textbox-left;
      margin-bottom: 10px;
   }

   .gear__img {
      margin-right: 0 !important;
   }

   /*TECHNOLOGY SECT*/
   .technology .container {
      flex-direction: column;
   }

   .technology__text {
      order: 1;
      @include adaptiv-textbox-right;
   }
   .technology__img {
      order: 2;
      margin-left: 0 !important;
   }
}

@media (max-width: 860px) {
   .container {
      max-width: 713px !important;
   }

   // /*HEADER*/
   .page-header .container {
      flex-wrap: wrap;
   }

   .nav-header {
      padding-left: 0 !important;
   }

   .nav-block {
      margin-left: 0 !important;
   }

   .nav-menu {
      margin-left: 130px;
   }

   .log-menu {
      margin-right: 0 !important;
   }

   /*PLAYGROUND SECT*/
   .playground .playground__block {
      width: 80% !important;
      p {
         @include adaptiv-font(20, 17);
      }

      h1 {
         @include adaptiv-font(72, 54);
      }
   }
}

@media (max-width: 768px) {
   .container {
      max-width: 600px !important;
   }
   /*HEADER*/
   .page-header .container a {
      @include adaptiv-font(16, 12);
   }

   #sign-up-btn {
      @include adaptiv-font(16, 12);
   }

   /*SOUNDS SECT*/
   .sounds__img img {
      @include adaptiv-img;
   }

   /*EXPERIENCE SECT*/
   .experience__img img {
      @include adaptiv-img;
   }

   /*GEAR SECT*/
   .gear__img img {
      @include adaptiv-img;
   }

   /*TECHNOLOGY SECT*/
   .technology__img img {
      @include adaptiv-img;
   }
}

@media (max-width: 620px) {
   .container {
      max-width: 500px !important;
   }

   /*HEADER*/
   .main-logo img {
      max-width: 230%;
   }

   .nav-menu {
      margin-left: 60px !important;
   }

   #sign-up-btn {
      @include adaptiv-font(13, 11);
   }

   /*SOUNDS SECT*/
   .sounds__text {
      @include adaptiv-font(16, 12);
      width: 70% !important;

      .h2section {
         @include adaptiv-font(28, 24);
      }
   }

   /*EXPERIENCE SECT*/
   .experience__text {
      @include adaptiv-font(16, 12);
      width: 70% !important;

      .h2section {
         @include adaptiv-font(28, 24);
      }
   }

   /*GEAR SECT*/
   .gear__text {
      @include adaptiv-font(16, 12);
      width: 70% !important;

      .h2section {
         @include adaptiv-font(28, 24);
      }
   }

   /*TECHNOLOGY SECT*/
   .technology__text {
      @include adaptiv-font(16, 12);
      width: 70% !important;

      .h2section {
         @include adaptiv-font(28, 24);
      }
   }

   /*CREATORS SECT*/
   .creators .h2section {
      @include adaptiv-font(28, 24);
   }

   .creators__block .pcreator {
      @include adaptiv-font(20, 17);
   }

   /*FOOTER*/
   .footer__block {
      margin-right: 48px !important;
      .h4footer {
         @include adaptiv-font(20, 18);
      }
   }
}

@media (max-width: 520px) {
   .container {
      max-width: 400px !important;
   }

   /*HEADER*/
   .page-header .container {
      flex-direction: column;
      a {
         @include adaptiv-font(13, 10);
      }
   }

   .nav-menu{
      margin-left: 0 !important;
   }

   .main-logo img{
      max-width: 0% !important;
   }
   /*PLAYGROUND SECT*/
   .playground__block {
      text-align: center;
      margin-right: 0 !important;
   }

   /*TODAY SECT*/
   .today .h2section {
      font-size: 37px;
   }

   /*FOOTER*/
   .plugins__box {
      margin-bottom: 24px;
   }

   .splice__rights {
      flex-direction: column;
      text-align: center;
      margin-left: 0 !important;
      p {
         margin-bottom: 20px !important;
      }
   }

   .splice__rights-nav {
      flex-direction: column;
      margin-bottom: 20px;
   }
}
